<h1>Lista de Productos Individual</h1>

  <div id="productos-container">
  
      <div>
        
        <h2>{{producto.title}}</h2>
        <p>ID:{{producto._id}}</p>
        <p>Precio: {{producto.price}}</p>
        <p>Descripción: {{producto.description}}</p>
        <p>Stock: {{producto.stock}}</p>
        <p>Categoría: {{producto.category}}</p>
              </div>
   
  </div>